/* 页面整体 */
body
{
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer
{
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.avatar
{
    width: 40px;
}

.info_table  /*个人基本信息表*/
{
    /*font-family: ;*/
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}
.info_table td   /*表项*/
{
    width: 70%;
    font-size: 1em;
    text-align: center;
    border: 1px solid gray;
    padding: 3px 7px 2px 7px;
    color: black;
    background-color: rgb(245, 245, 245);
}
.info_table tr.alt td    /*html中一行直接<tr>，另一行<tr class="alt">*，使得表格两行不同颜色交错*/
{
    width: 70%;
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}
.info_table th   /*表头*/
{
    width: 30%;
    font-size: 1.1em;
    text-align: center;
    border: 1px solid gray;
    padding: 3px 7px 2px 7px;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: rgb(63, 63, 63);
    color: #ffffff;
}

/* 实验列表 */
.experiment-list
{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.experiment-list li
{
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.experiment-list li:last-child
{
    border-bottom:none;
}

.experiment-list li:hover
{
    background-color: #f8f9fa;
}

/* 憨批杰尼龟图片 */
.hanpi
{
    display: block;
    margin: 0 auto;
    height: 100px;
}

/* 导航栏 */
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li
{
    float: left;
}

nav li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover
{
    background-color: #111;
}

/* 右侧链接 */
.float-right
{
    float: right;
}

/* 按钮 */
.btn
{
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover
{
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* flash提示消息 */
.alert
{
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

/* 表单元素，让删除按钮和下载按钮排成一排 */
.inline-form
{
    display: inline;
}